




<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form class="container" [formGroup]="frmGrpForgetPassword" (submit)="fnSubmit()">
            <div class="row form-group">
                <label for="email" class="col-ms-4">Email</label>
                <input type="text" name="email" id="email" class="col-ms-8" formControlName="email">
            </div>
           
            <br>
            <div class="row form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success btn-sm" [disabled]="!frmGrpForgetPassword.valid">Send OTP</button>
                </div>
                <div class="col-sm-6">
                   <button style="float: right;" type="button" (click)="redirect('login')" class="btn btn-sm btn-link">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>



